html,body, #home{
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    background: url(../imagens/capa.png),
              url(../imagens/ruido.png),
              linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
        

}

.navbar-transparente{
    padding: 15px 0;
    background-color: rgb(0,0,0,0.6);
}

.divisor {
  width: 1px;
  background: white;
  margin: 12px 15px;
}

.capa{
    text-align: center;
}

.btn-custom{
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
    margin: 10px 15px;
}

.btn-roxo{
    background-color: #7c25f8;
}

.btn-roxo:hover{
    background-color: #6207e3;
    color: white;
}

.btn-branco{
    border: 2px solid white;
}

.btn-branco:hover{
    background-color: white;
    color: black;
}

.caixa{
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos{
    background: white;
}

#servicos h2, 
#servicos h3{
    color: #7c25f8
}

#recursos{
    color: white;
}

#recursos h3{
    color: #9bf0e1
}

.albuns{
    padding: 10px 0;
}

.rotacionar{
    transform: rotate(30deg);
    padding-left: 80px;
}

h1{
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;

}

h2{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;

}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h1{
        font-size: 3em;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    h1{
        font-size: 4em;
    }
    .btn-custom{
        margin:0
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h1{
        font-size: 5em;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    h1{
        font-size: 6em;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    h1{
        font-size: 7em;
    }
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #9bf0e1;
}

.navbar-light .navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,0.5);
}
